<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-in</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="intro-container">

        <section class="message-block">

            <h1 class="manifesto-title">
                Быстро оценим масштаб происходящего
            </h1>

        </section>

        <section class="message-block">

            <p>Как спалось?</p>

            <div class="answers">
                <button>отлично</button>
                <button>терпимо</button>
                <button>как придётся</button>
                <button>что такое сон?</button>
            </div>

        </section>

        <section class="message-block">

            <p>Как ты вообще?</p>

            <div class="answers">
                <button>живём</button>
                <button>устал</button>
                <button>всё раздражает</button>
                <button>не вывожу</button>
            </div>

        </section>

        <section class="buttons-block">

            <a href="/result" class="primary-button">
                Продолжить
            </a>

        </section>

    </main>

</body>
</html>