{% extends "base.html" %}

{% block title %}Не вывожу | Панк-ЗОЖ{% endblock %}

{% block content %}

    <section class="message-block">
        <h1 class="manifesto-title">Если нет угрозы жизни, значит не все так плохо</h1>
        <p>Фигня случается. Чаще, чем хотелось бы. Это нормально. <br>Попробуй сделать эту штуку. Проблему она не решит, но точно тебя перезагрузит:</p>
    </section>

    <section class="message-block">
        <p>Закрой глаза. Начни мысленно считать. На "один-два-три" делай глубокий вдох и сжимай кулаки. На "четыре-пять" разжимай кулаки и выдыхай. Важно считать про себя, чтобы никакие другие мысли не лезли в голову. Сделай так несколько раз. Обычно, хватает минуты </p>
        
    </section>
        
        
        <div class="small-buttons">
            
            <a href="/" class="secondary-button small-button">Все пройдет</a>
        </div>
    
{% endblock %}